* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: auto;
  background-color: rgb(100, 151, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.display-timer {
  align-items: center;
  display: block;
  top: 6rem;
  font-weight: bold;
  font-size: 4rem;

}

.display-score {
  display: block;
  bottom: 10rem;
}

.display-wpm {
  display: block;
  bottom: 15rem;
}

.quotebox {
  font-size: 35px;
  font-weight: bold;
}

.textbox {
  width: 200px;
  height: 40px;
  border-radius: 15px;

}