* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startscreen {
  overflow: hidden;
}

.display-timer {
  position: absolute;
  align-items: center;
  top: 6rem;
  font-weight: bold;
  font-size: 4rem;
}

.quotebox {
  font-size: 2.7rem;
  font-weight: bold;
}

.textbox {
  width: 200px;
  height: 2rem;
  border-radius: 1rem;
}



.button {
  font-size: 5.6rem;
  border-radius: 1rem;
  transition-duration: 0.4s;
  text-decoration: none;
  color: rgb(224, 107, 24);
  transform: translate(-50%, -50%);
  top: 50%;
  position: fixed;
  /* css text glow CREDIT: https://css-tricks.com/how-to-create-neon-text-with-css/*/
  animation: animate 10s linear infinite;
}

@keyframes animate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 7px rgba(236, 155, 68, 0.985),
      0 0 10px rgb(240, 145, 43),
      0 0 21px rgb(226, 121, 72),
      0 0 42px rgb(226, 188, 52),
      0 0 82px rgb(220, 140, 43),
      0 0 92px rgb(198, 162, 43),
      0 0 102px rgb(88, 74, 74),
      0 0 151px rgb(195, 141, 110);
  }

  30% {
    /* Smaller blur radius */
    text-shadow:
      0 0 7px rgba(255, 255, 255, 0.985),
      0 0 10px rgb(203, 199, 199),
      0 0 21px rgb(238, 167, 134),
      0 0 42px rgb(181, 181, 180),
      0 0 82px rgb(159, 158, 157),
      0 0 92px rgb(139, 137, 133),
      0 0 102px rgb(228, 160, 126),
      0 0 151px rgb(231, 215, 205);
  }
}

.button:hover {
  color: rgb(255, 255, 255);
}