* {
  box-sizing: border-box;
}

.startscreen {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* background source https://www.hdwallpapers.in/sunset_neon_artwork-wallpapers.html */
  background-image: url('https://i.imgur.com/b5FwDEu.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainscreen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* background source https://wallpapersden.com/retro-wave-wallpaper/2560x1080/ */
  background-image: url('https://i.imgur.com/dHtnSQM.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.display-score {
  color: rgb(226, 216, 216);
  top: 350px;
  position: relative;
  font-size: 2rem;
}

.display-timer {
  position: absolute;
  top: 5rem;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(227, 129, 63);
  text-shadow:
    0 0 7px rgba(52, 42, 33, 0.985),
    0 0 10px rgb(209, 126, 58),
    0 0 21px rgb(220, 125, 54),
    0 0 42px rgb(67, 63, 49),
    0 0 82px rgb(227, 210, 190),
    0 0 92px rgb(220, 95, 50),
    0 0 102px rgb(159, 39, 39),
    0 0 151px rgb(200, 105, 37);
}

.quotebox {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: calc(4rem + 4px);
  margin-right: calc(4rem + 4px);
}

.textbox {
  height: 2rem;
  border-radius: 1rem;
  padding: .7rem 1rem;
  font-size: 20px;
  width: 100%;
  resize: none;
  margin: auto;
}

.container {
  color: rgb(234, 226, 72);
  text-shadow:
    0 0 7px rgba(52, 42, 33, 0.985),
    0 0 10px rgb(120, 115, 111),
    0 0 21px rgb(223, 215, 210),
    0 0 42px rgb(80, 73, 49),
    0 0 82px rgb(227, 210, 190),
    0 0 92px rgb(147, 180, 157),
    0 0 102px rgb(219, 219, 219),
    0 0 151px rgb(82, 96, 83);
}

.restartgame {
  height: 2rem;
  width: 160px;
  border-radius: 2rem;
  position: relative;
  top: 300px;
  background-color: rgb(229, 144, 230);
  font-size: 1rem;
  opacity: 80%;
  border-style: none;
}

.restartgame:hover {
  background-color: rgb(255, 255, 255);
  transition: .25s;
}

.button {
  font-size: 5.6rem;
  border-radius: 1rem;
  transition-duration: 0.4s;
  text-decoration: none;
  color: rgb(233, 147, 85);
  transform: translate(-50%, -50%);
  top: 50%;
  position: fixed;
  /* css text glow CREDIT: https://css-tricks.com/how-to-create-neon-text-with-css/ */
  animation: animate 5s linear infinite;
}

@keyframes animate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 7px rgba(50, 33, 16, 0.985),
      0 0 10px rgb(37, 25, 13),
      0 0 21px rgb(79, 50, 36),
      0 0 42px rgb(179, 166, 121),
      0 0 82px rgb(74, 85, 27),
      0 0 92px rgb(198, 162, 43),
      0 0 102px rgb(88, 74, 74),
      0 0 151px rgb(98, 66, 47);
  }

  40% {
    /* Smaller blur radius */
    text-shadow:
      0 0 7px rgba(255, 255, 255, 0.985),
      0 0 10px rgb(203, 199, 199),
      0 0 21px rgb(238, 167, 134),
      0 0 42px rgb(181, 181, 180),
      0 0 82px rgb(159, 158, 157),
      0 0 92px rgb(139, 137, 133),
      0 0 102px rgb(228, 160, 126),
      0 0 151px rgb(231, 215, 205);
  }
}

.button:hover {
  color: rgb(255, 255, 255);
  transition: .25s;
}

#notify {
  font-size: 25px;
  color: rgb(13, 251, 5);
  position: fixed;
  top: 760px;
  text-shadow:
    0 0 7px rgba(233, 228, 223, 0.985),
    0 0 10px rgb(220, 214, 208),
    0 0 21px rgb(223, 215, 210),
    0 0 42px rgb(171, 169, 162),
    0 0 82px rgb(227, 210, 190),
    0 0 92px rgb(6, 237, 75),
    0 0 102px rgb(219, 219, 219),
    0 0 151px rgb(37, 218, 43);
}

p {
  position: relative;
  top: 200px;
  font-size: 26px;
  color: rgb(233, 147, 85);
  text-shadow:
    0 0 7px rgba(61, 57, 57, 0.985),
    0 0 10px rgb(132, 93, 93),
    0 0 21px rgb(24, 23, 23),
    0 0 42px rgb(181, 181, 180),
    0 0 82px rgb(159, 158, 157),
    0 0 92px rgb(139, 137, 133),
    0 0 102px rgb(89, 83, 80),
    0 0 151px rgb(231, 215, 205);
}